<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1> Editar Cliente</h1>
        </div>
    <div class="card-body">
        <form action="/clientes/update" method="post">
            <label> Nome do Cliente:</label>
            <input text="text" name="nome" id="nome" class="form-control" value="<%= cliente.nome %>" required>

            <label> CPF do Cliente:</label>
            <input text="text" name="cpf" id="cpf" class="form-control" value="<%= cliente.cpf %>" required>

            <label> Endereço do Cliente:</label>
            <input text="text" name="endereco" id="endereco" class="form-control" value="<%= cliente.endereco %>" required>
            <input type="hidden" name="id" value="<%= cliente.id %>">
            <br>
            <input type="submit" class="btn btn-success" value="Alterar" onclick="return confirm('Confirma as alterações para o cliente <%= cliente.nome %>?')">
        </form>
        <hr>
    </div>
  </div>
</div>

<%- include ('partials/footer.ejs') %>