<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>


<div class="container">
    <div class="card">
        <div class="card-header">
            <h1> Produtos </h1>
        </div>
    <div class="card-body">
        <form action="/produtos/update" method="post">
            <input type="hidden" name="id" value="<%= produtos.id %>">
            <label> Nome do Produto:</label>
            <input text="text" name="nome" id="nome" class="form-control" value="<%= produtos.nome %>" required>

            <label> Preço do Produto:</label>
            <input text="text" name="preco" id="preco" class="form-control" value="<%= produtos.preco %>" required>

            <label> Categoria do Produto:</label>
            <input text="text" name="categoria" id="categoria" class="form-control" value="<%= produtos.categoria %>" required>
            <br>
            <input type="submit" class="btn btn-success" value="Alterar" onclick="return confirm('Confirma as alterações para o produto <%= produtos.nome %>?')">
        </form>
        <hr>
    </div>
  </div>
</div>
<br>

<%- include ('partials/footer.ejs') %>